@font-face {
    font-family: 'Tim Burton';
    src: url('fonts/alice-in-wonderland.ttf') format('truetype');
    font-weight: 500
}

/* @font-face {
    font-family: 'Trinigan FG';
    src: url('fonts/trinigan-fg.ttf') format('truetype')
} */

html {
    background-color: rgb(29, 29, 29);
}

h1 {
    font-family: 'Tim Burton', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 4px;
    font-size: 70px;
    font-weight: 10;
    color: white
}

p {
    font-family: 'Tim Burton', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    color: white
}

svg {
    z-index: 1;
}

.numbers {
    font-family:'Tim Burton', Times, serif;
    font-size: 15px;
    color: white
}

.axis-label {
    font-family: 'Tim Burton', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white
}

.luogo {
    position: absolute;
    z-index: -1;
    margin-left: 9px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.luogo-copia {
    position: absolute;
    z-index: 1;
    margin-left: 9px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

#reality1, #reality2, #reality3, #reality4, #reality5, #reality6, #reality7, #reality8 {
    z-index: 4;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); 
}

.illustrazioni {
    width: 40%;
    opacity: 0.3;
    transition: all .5s ease-in-out
}

.smaller-illustrazioni {
    height: 65%;
    opacity: 0.3;
    transition: all .5s ease-in-out
}

.luogo-copia.is-active .illustrazioni {
    transition: all .5s ease-in-out;
    transform: scale(150%);
    opacity: 1;
    z-index: 2
}

.luogo-copia.is-active .smaller-illustrazioni {
    transition: all .5s ease-in-out;
    transform: scale(150%);
    opacity: 1;
    z-index: 2
}

.icon {
    position: absolute;
}