@font-face {
    font-family: 'Tim Burton';
    src: url('fonts/Sdfortimburtondemo-ALoW2.ttf') format('truetype');
    font-weight: 500
}

@font-face {
    font-family: 'Trinigan FG';
    src: url('fonts/trinigan-fg.ttf') format('truetype')
}

html {
    background-color: rgb(29, 29, 29);
}

h1 {
    font-family: 'Tim Burton', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: white
}

svg {
    z-index: 1;
}

.numbers {
    font-family:'Trinigan FG', Times, serif;
    font-size: 15px;
    color: white
}

.axis-label {
    font-family: 'Tim Burton', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white
}

.luogo {
    position: absolute;
    z-index: -1;
    margin-left: 9px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

#reality1, #reality2, #reality3, #reality4, #reality5, #reality6, #reality7, #reality8 {
    z-index: 1;
    backdrop-filter: blur(6px)
}

.luogo img {
    opacity: 0.3;
    transition: all .5s ease-in-out
}

.illustrazioni {
    width: 40%;
}

.smaller-illustrazioni {
    height: 60%
}

.luogo.is-active img {
    transition: all .5s ease-in-out;
    transform: scale(150%);
    opacity: 1;
    z-index: 2
}

.luogo.is-active .smaller-illustrazioni {
    transition: all .5s ease-in-out;
    transform: scale(240%);
    opacity: 1;
    z-index: 2
}